@forward "./home.scss";
@forward "./theme.scss";
@forward "./pseudo.scss";
@forward "./Crisp/index.scss";

$scrollbarWidth: 4px;

:root {
  --widgetSettingsWidth: 350px;
}

* {
  margin: 0;
  padding: 0;
  transition: color 0.1s ease-in-out;

  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Inter", sans-serif;
  // color: var(--vibrant-fills-secondary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  overflow-y: auto;
  font-size: 15.5px;
  overflow-x: hidden;
  box-sizing: border-box;
  @include box(100vw, auto);
  color: var(--vibrant-labels-primary);
  @include make-flex($just: flex-start);
}

::-webkit-scrollbar {
  background: transparent;
  @include box($scrollbarWidth, $scrollbarWidth);
}

::-webkit-scrollbar-thumb {
  background: #d3d1cb;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background: #2daadb4d;
}

// For some reason, style in App.svelte is not applied, so moved here

.info-editing {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 14px;
  // color: var(--vibrant-labels-secondary);
  z-index: 20;
  font-style: italic;
  // italicize
}

.stop-editing.CrispButton {
  top: 10px;
  right: 10px;
  z-index: 20;
  position: fixed;
}
